<!DOCTYPE html>
<html>

<head>
	<title>
		Ukihashi Ramen - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
</head>

<header th:replace="~{fragments/header} "></header>

<body>
		
		
	

	<div class="main-container">
		<h1 class="main-title">UKIHASHI RAMEN</h1>
		
			<ul class="list">	
				<a href="/food"><li>Guarda i nostri succulenti piatti</li></a>
				<br><br>
				<a href="/formSearchEventi"><li>Clicca qui e controlla subito se ci sono eventi!</li></a>
				<a href="/evento"><li>I nostri eventi</li></a>

				<a href="user/prenotazioni"><li>Le tue prenotazioni.</li></a>
			</ul> 
	
	
		<div th:if="${userRole} == 'ADMIN'">
			
			<h1 class="main-title">Pannello admin</h1>
			
				<ul class="list">
					<a href="/admin/indexEvento"><li>Gestione eventi</li></a>
					<a href="/admin/indexFood"><li>Gestione piatti</li></a>
					<a href="/admin/prenotazioni"><li>Gestione prenotazioni</li></a>
					<br>
					
				</ul>
				<br>
				<br>
		</div>

	</div>
	
	<footer th:replace="~{fragments/footer} "></footer>

</body>

</html>