<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="footer">
    <div class="footer-info">
      <ul class="info-list">
        <li class="list-inline-item m-0">
          <i class="fa fa-map-marker fa-2x" style="vertical-align: middle;"></i>
          <span>Via totalmente esistente, 36, 00154 Roma RM</span>
        </li>
        <li class="list-inline-item m-0">
          <i class="fa fa-phone fa-2x" style="vertical-align: middle;"></i>
          <span>01 2345 6789 - 333 1234567</span>
        </li>
      </ul>
    </div>
  </th:block>