<!DOCTYPE html>
<html>

<head>
	<title>Ukihashi Ramen - Menu</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
</head>

<body>
	<header th:replace="~{fragments/header}"></header>

	<div class="main-container">

		<h1 class="main-title">Piatti</h1>
		<div th:if="${foods==null || foods.isEmpty()}">Non ci sono piatti nel sistema</div>
		<ul class="list">
			<a th:each="food : ${foods}" th:href="@{'/food' + '/' + ${food.id}}">
					<li th:text="${food.name}"></li></a>
			
		</ul>
		</br></br>
	</div>
	<footer th:replace="~{fragments/footer} "></footer>

</body>

</html>