<!DOCTYPE html>
<html>

<head>
	<title>Ukihashi Ramen - Registrazione conclusa</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
</head>

<body>
	
	<div class="main-container">
		<h1>Congratulazioni ti sei registrato!</h1>
		<a class="fake-button" href="/login">Vai al login</a>
		<br>
	</div>
	<footer th:replace="~{fragments/footer} "></footer>

</body>
</html>